body {
  overflow: auto;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: flex-start;
  border: 1px solid rgb(250, 250, 250);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  width: 99.5%;
}

.img {
  width: 60px;
  margin-right: 30px;
  cursor: pointer;
}

.user {
  display: flex;
  text-align: center;
  gap: 0.5rem;
}

.user h4 {
  margin-top: 17px;
}

.navbar h2 {
  margin-left: 100px;
  margin-top: 16px;
}

/* Other sections styles */

.head {
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  width: 740px;
  height: 85px;
  margin-left: 90px;
  margin-top: 20px;
  color: white;
  background-color: rgb(65, 65, 230);
  border-radius: 8px;
}

.head h4 {
  margin-top: 30px;
  margin-left: 40px;
}

.data {
  margin: 20px;
}

.session {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  width: 740px;
  margin-left: 85px;
  height: 400px;
}

/* Roadmap styles */
.roadmap h4 {
  margin-left: 85px;
}
.roadmap {
  position: relative;
  margin-top: -480px;
  margin-left: 68%;
  width: 380px;
  height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 45px;
  height: 45px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #1b28d7;
  margin: 5px;
  color: white;
  cursor: pointer;
}

/* Lines between circles */
.circle:not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: #1b28d7;
  top: 50%;
  left: 100%;
  height: 1px;
  width: 30px;
}
.circle1:not(:last-child)::after {
  display: none;
}

.circle2::before {
  content: "";
  position: absolute;
  background-color: #1b28d7;
  top: 100%;
  left: 50%;
  width: 1px;
  height: 30px;
  transform: translateX(-50%);
}

.logout-option {
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 1285px) {
  .class {
    width: 1285px;
  }
}
